# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage*.txt
coverage/
playwright-report/

# Docker
.docker/
.pnpm-store/
.devcontainer/
.lighthouseci/flags-0554b1b1-a2cc-4159-a4c3-174f0f19d3ff.json
